#MySQL
development:
  adapter: mysql2
  encoding: utf8
  database: seek_development
  username: {{biovel_portal_db_user}}
  password: {{biovel_portal_db_pass}}
  #socket: /var/run/mysqld/mysqld.sock

test:
  adapter: mysql2
  encoding: utf8
  database: seek_test
  username: {{biovel_portal_db_user}}
  password: {{biovel_portal_db_pass}}
  #socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  encoding: utf8
  database: seek_production
  username: {{biovel_portal_db_user}}
  password: {{biovel_portal_db_pass}}
  #socket: /var/run/mysqld/mysqld.sock
