#!/bin/sh

MYSQL_CONF=/tmp/$$.cnf
touch ${MYSQL_CONF} || exit $?
chmod 600 ${MYSQL_CONF} || exit $?
cat > ${MYSQL_CONF} <<EOF
[client]
user={{biovel_portal['db_user']}}
password={{biovel_portal['db_pass']}}
EOF

# Created index prevents multiple lines being added with the same url/login.
# TODO - get this fixed in the portal source code
mysql --defaults-file=${MYSQL_CONF} --database=$1 --force <<EOF
DROP INDEX credentials_type_url_login ON credentials;
CREATE UNIQUE INDEX credentials_type_url_login ON credentials (server_type, url, login);
INSERT INTO credentials (name, description, url, login, password, server_type, in_use, \`default\`, 
		created_at, updated_at)
	VALUES ('Taverna Server on localhost', 'Taverna Server 2.4.1 with interaction enabled', 
		'http://localhost:8080/{{taverna_server_context}}', '{{taverna_server_user}}', 
		'{{taverna_server_pass}}', 'ts', 1, 1, current_timestamp(), current_timestamp())
	ON DUPLICATE KEY UPDATE password='{{taverna_server_pass}}';
INSERT INTO credentials (name, description, url, login, password, server_type, in_use, \`default\`, 
		created_at, updated_at)
	VALUES ('R Server on localhost', 'R Server', 'rserve://localhost:6311', 
		'{{rserve_users[0]["user"]}}', '{{rserve_users[0]["pass"]}}', 'rserver', 1, 
		1, current_timestamp(), current_timestamp())
	ON DUPLICATE KEY UPDATE password='{{rserve_users[0]["pass"]}}';
EOF

rm ${MYSQL_CONF}
