# BioVeL Portal logrotate config

{{biovel_portal_log}}/production.log {{biovel_portal_log}}/delayed_job.log {
  rotate 7
  daily
  compress
  missingok
  delaycompress
  copytruncate
}

{{biovel_portal_log}}/access.log {{biovel_portal_log}}/error.log {
  rotate 7
  daily
  compress
  missingok
  delaycompress
  notifempty
  create 640 root root
  sharedscripts
  postrotate
    /etc/init.d/apache2 reload > /dev/null
  endscript
}
