# This file should contain all the record creation needed to seed the database with its default values.
# The data can then be loaded with the rake db:seed (or created alongside the db with db:setup).
#

ServiceCredential.create(
	:name => 'R Server on localhost',
	:description => 'R Server',
	:uri => 'rserve://localhost:6311',
	:login => '{{rserve_users[0]["user"]}}',
	:password => '{{rserve_users[0]["pass"]}}',
	)

User.create(
	:name => '{{biovel_portal_admin_user}}',
	:email => '{{biovel_portal_admin_email}}', 
	:password => '{{biovel_portal_admin_pass}}',
	:password_confirmation => nil, 
	:admin => true,
	:biovel => true, 
	:type_id => 1
	)
