# User name to use if nothing else specified
default.localusername:	taverna
# How to pick a user name out of a global identity
localusernameregexp:	^TAVERNAUSER=(.*)$
# General defaults
default.logworkflows:	false
default.logexceptions:	false
default.permitsubmit:	true
default.lifetime:		{{workflow_lifetime}}
default.runlimit:		{{workflow_max_running}}
default.messageSize:	65536
#taverna.preferredUserUri:	https://some.host:8443/tavernaserver/rest/
http.realmName:         tavernaserver

rmi.localhostOnly:		true
helio.cis.enableTokenPassing:	false
log.security.details:	false

#executeWorkflowScript:	/usr/taverna/executeworkflow.sh
#secureForkPasswordFile:	/usr/local/tomcat6.0/conf/sudopass.txt

# Usage Record handling
usage.logFile:		none
usage.disableDB:	no

# Delays used in the task executor 
purge.interval:		30000
finish.interval:	10000

# Static configuration of messaging

### Email
email.from:		taverna.server@localhost
email.type:		text/plain
#email.host:	localhost

### Jabber
#xmpp.server:	xmpp://some.host:5222
xmpp.resource:	TavernaServer
#xmpp.user:		taverna
#xmpp.password:	*******

### Atom/RSS; lifespan in days, cleaninterval in milliseconds
atom.language:	en
atom.lifespan:	7
atom.cleaninterval:	3600000

### SMS
#sms.service:	https://www.intellisoftware.co.uk/smsgateway/sendmsg.aspx
sms.userfield:	username
sms.passfield:	password
sms.destfield:	to
sms.msgfield:	text
#sms.user:		taverna
#sms.pass:		*******

### Twitter
#twitter.oauth.accessToken:			...
#twitter.oauth.accessTokenSecret:	...

### General; cooldown in seconds
message.cooldown:				300
message.termination.subject:	Taverna workflow run finished
message.termination.body:		Your job with ID={0} has finished with exit code {1,number,integer}.

# Thread pool sizing
pool.size:	2

taverna.interaction.host:			{{ host_external_ip.stdout }}
taverna.interaction.port:			8080
taverna.interaction.webdav_path:	/webdav
taverna.interaction.feed_path:		/ah/interaction/notifications
